{
    "workbench.editor.enablePreview": false, //打开文件不覆盖
    "search.followSymlinks": false, //关闭快速预览
    "editor.fontSize": 14, //设置文字大小
    "editor.lineHeight": 24, //设置文字行高
    "editor.lineNumbers": "on", //开启行数提示
    "editor.quickSuggestions": {
      //开启自动显示建议
      "other": true,
      "comments": true,
      "strings": true
    },
    //autoFixedOnSave 设置已废弃，采用如下新的设置
    "editor.codeActionsOnSave": {
      "source.fixAll.eslint": "always"
    },
    "eslint.options": {
      "extensions": [".js", ".ts", ".tsx", "jsx", "html"]
    },
    "eslint.format.enable": true,
    //autoFix默认开启，只需输入字符串数组即可
    "eslint.validate": [
      "javascript",
      "javascriptreact",
      "vue",
      "html",
      "typescriptreact",
      ""
    ],
    // jsx自动修复有问题，取消js的format
    "editor.formatOnSave": true,
    "editor.formatOnType": true,
    //默认JavaScript格式化程序(为了更美观)
    "javascript.format.enable": true,
    //如果为真，将使用单引号而不是双引号
    "prettier.singleQuote": false,
    //prettier自动格式化tab的空格数量！
    "prettier.tabWidth": 4,
    // Indent lines with tabs
    "vetur.format.defaultFormatter.html": "js-beautify-html", //格式化.vue中html
    "vetur.format.defaultFormatter.js": "vscode-typescript", //让vue中的js按编辑器自带的ts格式进行格式化
    "javascript.format.insertSpaceBeforeFunctionParenthesis": true, //让函数(名)和后面的括号之间加个空格
    "vetur.format.defaultFormatterOptions": {
      "js-beautify-html": {
        "wrap_attributes": "force-aligned" //属性强制折行对齐
      },
      "prettier": {
        "singleQuote": true
      }
    },
    "sync.gist": "2fe703197c77a29f98da37ee2cdae3e4",
    "git.enableSmartCommit": true,
    "workbench.iconTheme": "vscode-icons",
    "explorer.compactFolders": false,
    "editor.wordWrap": "on",
    "git.confirmSync": false,
    "explorer.confirmDelete": false,
    "gitlens.gitCommands.closeOnFocusOut": true,
    "[typescriptreact]": {
      "editor.defaultFormatter": "esbenp.prettier-vscode"
    },
    "[typescript]": {
      "editor.defaultFormatter": "esbenp.prettier-vscode"
    },
    "editor.suggestSelection": "first",
    "vsintellicode.modify.editor.suggestSelection": "automaticallyOverrodeDefaultValue",
    "files.exclude": {
      "**/.classpath": true,
      "**/.project": true,
      "**/.settings": true,
      "**/.factorypath": true
    },
    "dart.openDevTools": "flutter",
    "dart.flutterSdkPath": "/Users/jeryliu/Desktop/git/flutter",
    "security.workspace.trust.untrustedFiles": "open",
    "java.imports.gradle.wrapper.checksums": [
      {
        "sha256": "e2b82129ab64751fd40437007bd2f7f2afb3c6e41a9198e628650b22d5824a14",
        "allowed": true
      }
    ],
    "diffEditor.ignoreTrimWhitespace": false,
    "vsicons.dontShowNewVersionMessage": true,
    "workbench.editorAssociations": {
      "*.dat": "default"
    },
    "cmake.configureOnOpen": true,
    "[javascript]": {
      "editor.defaultFormatter": "esbenp.prettier-vscode"
    },
    "files.associations": {
      "*.vue": "vue",
      "*.js": "javascript",
      "*.ts": "typescript"
    },
    "[vue]": {
      "editor.defaultFormatter": "esbenp.prettier-vscode"
    },
    "editor.unicodeHighlight.ambiguousCharacters": false,
    "window.zoomLevel": 1,
    "leetcode.workspaceFolder": "/Users/jeryliu/Desktop/ES6/src/js",
    "leetcode.hint.commentDescription": false,
    "leetcode.defaultLanguage": "javascript",
    "workbench.startupEditor": "none",
    "git.autofetch": true,
    "security.promptForRemoteFileProtocolHandling": false,
    "javascript.updateImportsOnFileMove.enabled": "always",
    "typescript.updateImportsOnFileMove.enabled": "always",
    "git.autofetchPeriod": 5,
    "editor.defaultFormatter": "esbenp.prettier-vscode",
    "typescript.updateImportsOnPaste.enabled": false,
    "javascript.updateImportsOnPaste.enabled": false,
    "editor.pasteAs.showPasteSelector": "never",
    "workbench.colorTheme": "One Dark Pro Night Flat"
  }
  